@charset "UTF-8";

* {
    margin: 0PX;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: black;
    height: 100bh;
    width: 100vw;
}

body {
    background: url(../imagens/fundo-madeira.jpg) top center no-repeat;
    background-size: cover;
     background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(../imagens/frame-iphone.png);
    height: 627px;
    width: 311px;

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    height: 471px;
    width: 266px;
}